*.iml
.idea
.ipr
.iws
*.diff
*.patch
*.bak
.DS_Store
node_modules/
.project
.settings
npm-debug.log
.*proj
.svn/
*.swp
*.swo
*.log
test/dist/
dist/
iView-darwin-x64
iView-win32-x64