<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <title>iView</title>
    <link rel="stylesheet" href="../assets/css/iview.css">
    <link rel="stylesheet" href="../assets/css/app.css">
</head>
<body>
    <div class="title"></div>
    <div id="app" v-cloak>
        <div class="home-app" v-if="!isHidden">
            <div class="lang-setting-con">
                <i-button type="text" @click="changeLauage" size="large">{{ language.message }}</i-button>
            </div>
            <Row class="home-row" type="flex" justify="center" align="middle">
                <i-col span="24">
                    <div class="home-logo"></div>
                    <div class="home-name"></div>
                    <div class="home-desc">{{ $t("message.intro") }}</div>
                    <Row class="home-menu" :gutter="32">
                        <i-col span="9" :offset="3">
                            <i-button type="ghost" long icon="ios-plus-empty" @click="handleCreateApp">{{ $t("message.newProject") }}</i-button>
                        </i-col>
                        <i-col span="9">
                            <i-button type="ghost" long icon="ios-keypad" @click="handleOpenDoc">{{ $t("message.docOffline") }}</i-button>
                        </i-col>
                    </Row>
                </i-col>
            </Row>
            <div class="home-version">
                 {{ $t("message.iviewVersion") }}：<span style="color:#5cadff;">{{ iviewVersion }}</span><i-button size="small" type="text" @click="checkUpdate">检查更新</i-button>
            </div>
        </div>
        <Modal
            v-model="showUpdate"
            :title="$t('message.newVersion')"
            :ok-text="$t('message.download')"
            @on-ok="handleOk"
            @on-cancel="handleCancel"
            width="200">
            <p>$t('message.updatedContent')：</p>
            <ul v-html="update.desc"></ul>
        </Modal>
    </div>
    <script type="text/javascript" src="../assets/js/vue.min.js"></script>
    <script type="text/javascript" src="../assets/js/vue-i18n.js"></script>
    <script type="text/javascript" src="../assets/js/iview.min.js"></script>
    <script type="text/javascript" src="../src/app.js"></script>
</body>
</html>