body{
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    user-select: none;
}
[v-cloak]{
    display: none;
}
.title{
    height: 20px;
    text-align: center;
    -webkit-app-region: drag;
    padding: 2px 0;
    font-size: 14px;
}
.home-app{
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}
.home-row{
    height: 100%;
}
.home-logo, .home-name{
    width: 90px;
    height: 90px;
    margin: 0 auto;
    background-image: url("../img/iview-logo.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.home-name{
    height: 40px;
    background-image: url("../img/iview-name.png");
}
.home-menu{
    margin: 50px 0 150px;
}
.home-version{
    position: fixed;
    bottom: 15px;
    left: 0;
    right: 0;
    text-align: center;
}